.block {
  position: relative;
  max-width: 100%;

  &:hover .copy {
    opacity: 1;
  }
}

.copy {
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 4px 0;
  background: rgb(40, 42, 54);
  transition: opacity 0.2s;
  position: absolute;
  opacity: 0;
  right: 7px;
  top: 7px;

  &:hover {
    background: lighten(rgb(40, 42, 54), 5%);
  }
}