.root {
  border-bottom: 1px solid var(--border-color);
  background: var(--base-bg-color);
  transition: box-shadow 0.3s;
  align-items: center;
  position: sticky;
  padding: 0 12px;
  flex-shrink: 0;
  display: flex;
  height: 64px;
  z-index: 1;
  top: 0;

  &_withShadow {
    box-shadow: 0 16px 24px -8px rgba(#000, .1);
  }

  @media screen and (min-width: 768px) {
    padding: 0 18px;
  }
}

.menuButton {
  margin-right: 8px;
  color: inherit;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.title {
  margin-right: 16px;
  line-height: 28px;
  font-weight: 500;
  font-size: 22px;
}

.titleLink {
  background: none !important;
  line-height: inherit;
  font-size: inherit;
  padding: 0;
}

.search {
  flex: 1;
}

.nav {
  align-items: center;
  display: flex;
}

.link {
  display: none;

  &:not(:last-child) {
    margin-right: 8px;
  }

  &.forceVisible {
    display: inline-flex;
  }

  &_theme {
    color: inherit;
  }

  @media screen and (min-width: 768px) {
    display: inline-flex;
  }
}
