.icon {
  font-size: 20px !important;
  display: inline-flex;
  margin-right: 8px;

  svg {
    font-size: inherit;
  }
}

.round {
  border-radius: 50%;
  padding: 8px;

  .icon {
    margin-right: 0;
  }
}