@keyframes show-backdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  box-shadow: 16px 0 32px -16px rgba(#000, 0.1);
  background: var(--base-bg-color);
  transform: translateX(-100%);
  transition: transform 0.3s;
  padding: 16px 24px;
  max-height: unset;
  display: block;
  height: unset;
  width: 300px;
  margin: 0;
  bottom: 0;
  left: 0;
  top: 0;

  &::backdrop {
    transition: opacity 0.3s;
    opacity: 0;
  }

  &[open] {
    transform: translateX(0);

    &::backdrop {
      opacity: 1;
      animation: show-backdrop 0.3s ease normal;
    }
  }

  &.hidden {
    transform: translateX(-100%);

    &::backdrop {
      opacity: 0;
    }
  }
}

.nav {
  margin-top: 16px;
}

.nestedBlock {
  padding-left: 8px;
}

.link {
  letter-spacing: 0.5px;
  margin-bottom: 8px;
  line-height: 27px;
  font-weight: 550;
  font-size: 18px;
}

.closeButton {
  position: absolute;
  color: inherit;
  right: 10px;
  top: 10px;
}

.moreTitle {
  margin-top: 24px;
}
