.page {
  max-width: min(100%, 1100px);
  position: relative;
  padding: 32px 24px;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;

  @media screen and (min-width: 1024px) {
    padding: 48px;
  }
}

.link {
  text-decoration: underline;
  line-height: inherit;
  font-size: inherit;
  padding: 0;

  @media (pointer: fine) {
    &:hover {
      text-decoration: none;
      background: none;
    }
  }
}
