.h2:not(:first-child) {
  margin-top: 72px;
}

.h3:not(:first-child) {
  margin-top: 48px;
}

.h4:not(:first-child) {
  margin-top: 24px;
}

.h5:not(:first-child) {
  margin-top: 16px;
}
