.block:not(:last-of-type) {
  border-bottom: 1px solid black;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.header {
  text-transform: uppercase;
  letter-spacing: 0.2px;
  margin-bottom: 2px;
  padding: 8px 14px;
  line-height: 20px;
  font-weight: 500;
  font-size: 16px;
}

.nav {
  flex-direction: column;
  display: flex;
}

.link {
  padding: 10px 14px;

  &:not(:last-child) {
    margin-bottom: 2px;
  }
}

.closeButton {
  position: absolute;
  right: 10px;
  top: 10px;
}