.informer {
  border-radius: 10px;
  background: #f0f0f0;
  padding: 20px;
  flex: 1;
}

.pre {
  font-family: monospace;
  white-space: pre-wrap;
  margin: 4px 0 0;
}

.hr {
  margin: 24px 0;
}

.boolean {
  font-weight: bold;

  &.green {
    color: green;
  }

  &.red {
    color: red;
  }

  &.gray {
    opacity: 0.6;
  }
}