.icon {
  font-size: 20px !important;
  display: inline-flex;
  margin-right: 8px;

  svg {
    font-size: inherit;
  }
}

.round {
  border-radius: 50%;
  padding: 8px;

  .icon {
    margin-right: 0;
  }
}

.primary {
  background: #087da4;
  color: #fafafa;

  &:hover {
    background: #087da4;
    opacity: 0.8;
  }
}

.secondary {
  box-shadow: inset 0 0 0 1px #d9dbe3;
}

.size_s {
  padding: 4px 6px;

  &.round {
    padding: 4px;
  }
}